<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">new whiskey</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">   
                <div class="container-fluid">
                    <form>
                        <div class="mb-2">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-name" placeholder="woodford rye">
                                <label for="whiskey-name" class="form-label">name</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-country" placeholder="kentucky">
                                <label for="whiskey-country" class="form-label">country</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-aroma" placeholder="apple">
                                <label for="whiskey-aroma" class="form-label">aroma</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-taste" placeholder="oak">
                                <label for="whiskey-taste" class="form-label">taste</label>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-finish" placeholder="clean">
                                <label for="whiskey-finish" class="form-label">finish</label>
                            </div>

                            
                            <div class="input-group mb-2">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="whiskey-perc" placeholder="50.00">
                                    <label for="whiskey-perc" class="form-label">percentage</label>
                                </div>
                                <span class="input-group-text">%</span>
                            </div>
                            
                            <div class="input-group mb-2">
                                <span class="input-group-text">$</span>
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="whiskey-cost" placeholder="45.00">
                                    <label for="whiskey-cost" class="form-label">cost</label>
                                </div>
                            </div>
                            
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="whiskey-url" placeholder="woodford.com">
                                <label for="whiskey-url" class="form-label">url</label>
                            </div>         
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary">add whiskey</button>
            </div>
        </div>
    </div>
</div>